{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Login</title>

</head>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form method ="POST" action="">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <p>{{error}}</p>
                {%endfor%}

                {%for message in messages%}

                <p>{{message}}</p>

                {%endfor%}

                <div class="form-outline mb-4 text-center">
                  <label class="form-label text-center">Username</label>
                  <br>
                    <input type="text" name="username"/>
                  
                </div>

                <div class="form-outline mb-4 text-center" >
                  <label class="form-label text-center">Password </label>
                  <br>
                  <input type="password" name="password"/>
                  
                </div>


                <div class="d-flex justify-content-center">
                </div>
                <input type="submit" class="btn btn-outline-dark btn-block btn-lg gradient-custom-4 text-body" value="Login" />
                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'register' %}"></p>
                  <p class="text-center fw-bold text-body text-dark"><u>Sign Up</u></p>
                  <br>
                  <p class="text-center text-muted mt-5 mb-0">Please note that The Style Vision app stores user details and preferences to provide personalized fashion recommendations. By using this service, you consent to the collection and processing of your personal data. We strictly adhere to the General Data Protection Regulation (GDPR) to ensure that your data is handled with utmost care and is not shared with any third parties.</p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
