{% extends 'style/main.html' %}
{% load static %}
{% block content %}

  <div class="container"> 
    <h1>Clothing Preferences Profile</h1> <!-- Heading for the profile page -->
    <form id="preferences-form" method="POST"> <!-- Form element to submit user preferences -->
      {% csrf_token %} <!-- CSRF token to protect against cross-site request forgery attacks -->
      <button id="clear-preferences-btn" class="btn btn-danger mt-3">Clear preferences</button> <!-- Button to clear preferences -->
      <div class="form-group"> <!-- Form group for gender selection -->
        <label for="gender">Gender</label> <!-- Label for the gender dropdown -->
        <select class="form-control" name="gender" id="gender"> <!-- Dropdown to select the gender -->
          <option value="">Select</option> <!-- Default option for gender -->
          <option value="Men" {% if user_preferences.gender == "Men" %}selected{% endif %}>Men</option> <!-- Option for "Men" -->
          <option value="Women" {% if user_preferences.gender == "Women" %}selected{% endif %}>Women</option> <!-- Option for "Women" -->
          <option value="Unisex" {% if user_preferences.gender == "Unisex" %}selected{% endif %}>Unisex</option> <!-- Option for "Unisex" -->
        </select>
      </div>
      <div class="form-group"> <!-- Form group for base color input -->
        <label for="baseColour">Base Colour</label> <!-- Label for the base color input -->
        <input type="text" class="form-control" name="baseColour" id="baseColour" placeholder="Enter your preferred base colour" value="{{ user_preferences.baseColour }}"> <!-- Input field for base color -->
      </div>
      <div class="form-group"> <!-- Form group for season selection -->
        <label for="season">Season</label> <!-- Label for the season dropdown -->
        <select class="form-control" name="season" id="season"> <!-- Dropdown to select the season -->
          <option value="">Select</option> <!-- Default option for season -->
          <option value="Spring" {% if user_preferences.season == "Spring" %}selected{% endif %}>Spring</option> <!-- Option for "Spring" -->
          <option value="Summer" {% if user_preferences.season == "Summer" %}selected{% endif %}>Summer</option> <!-- Option for "Summer" -->
          <option value="Fall" {% if user_preferences.season == "Fall" %}selected{% endif %}>Fall</option> <!-- Option for "Fall" -->
          <option value="Winter" {% if user_preferences.season == "Winter" %}selected{% endif %}>Winter</option> <!-- Option for "Winter" -->
        </select>
      </div>
      <div class="form-group"> <!-- Form group for main category selection -->
        <label for="masterCategory">Main Category</label> <!-- Label for the main category dropdown -->
        <select class="form-control" name="masterCategory" id="masterCategory"> <!-- Dropdown to select the main category -->
          <option value="">Select</option> <!-- Default option for main category -->
          <option value="Apparel" {% if user_preferences.masterCategory == "Apparel" %}selected{% endif %}>Apparel</option> <!-- Option for "Apparel" -->
          <option value="Accessories" {% if user_preferences.masterCategory == "Accessories" %}selected{% endif %}>Accessories</option> <!-- Option for "Accessories" -->
          <option value="Footwear" {% if user_preferences.masterCategory == "Footwear" %}selected{% endif %}>Footwear</option> <!-- Option for "Footwear" -->
        </select>
        </div>
        <div class="form-group"> <!-- Form group for subcategory selection -->
        <label for="subCategory">Sub Category</label> <!-- Label for the subcategory dropdown -->
        <select class="form-control" name="subCategory" id="subCategory"> <!-- Dropdown to select the subcategory -->
        <option value="">Select</option> <!-- Default option for subcategory -->
        </select>
        </div>
        <div class="form-group"> <!-- Form group for article type selection -->
        <label for="articleType">Article Type</label> <!-- Label for the article type dropdown -->
        <select class="form-control" name="articleType" id="articleType"> <!-- Dropdown to select the article type -->
        <option value="">Select</option> <!-- Default option for article type -->
        </select>
        </div>
        <div class="form-group"> <!-- Form group for usage selection -->
        <label for="usage">Usage</label> <!-- Label for the usage dropdown -->
        <select class="form-control" name="usage" id="usage"> <!-- Dropdown to select the usage -->
        <option value="">Select</option> <!-- Default option for usage -->
        <option value="Casual" {% if user_preferences.usage == "Casual" %}selected{% endif %}>Casual</option> <!-- Option for "Casual" -->
        <option value="Formal" {% if user_preferences.usage == "Formal" %}selected{% endif %}>Formal</option> <!-- Option for "Formal" -->
        <option value="Sports" {% if user_preferences.usage == "Sports" %}selected{% endif %}>Sports</option> <!-- Option for "Sports" -->
        <option value="Smart Casual" {% if user_preferences.usage == "Smart Casual" %}selected{% endif %}>Smart Casual</option> <!-- Option for "Smart Casual" -->
        <option value="Travel" {% if user_preferences.usage == "Travel" %}selected{% endif %}>Travel</option> <!-- Option for "Travel" -->
        <option value="Party" {% if user_preferences.usage == "Party" %}selected{% endif %}>Party</option> <!-- Option for "Party" -->
        </select>
        </div>
        </form>
        <br>
        <button id="more-products" class="btn btn-secondary mt-3">Refresh Products</button> <!-- Button to refresh products -->
        <br>
        <div id="filtered-products" class="row"> <!-- Container for displaying filtered products -->
        {% if filtered_products %} <!-- Check if there are filtered products -->
        {% for product in filtered_products %} <!-- Loop through each filtered product -->
        <div class="col-6 col-md-4 col-lg-3"> <!-- Grid layout for displaying products -->
        <div class="card mb-4"> <!-- Card for displaying individual product -->
        <img src="{{ product.imageURL }}" class="card-img-top"> <!-- Image of the product -->
        <div class="card-body"> <!-- Card body containing product details -->
        <h5 class="card-title">{{ product.name }}</h5> <!-- Product name -->
        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-likes">Add to Likes</button> <!-- Button to add product to likes -->
        <button data-product="{{ product.id }}" data-action="superlike" class="btn btn-outline-primary superlike-btn update-likes">Superlike</button> <!-- Button to superlike the product -->
      </div>
      </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No Clothing Found</p> <!-- Message displayed when no clothing is found -->
      {% endif %}
      </div>
      
        </div>
        </div>
        <script>
          const user_preferences = { // Store user preferences in a JavaScript object
            masterCategory: "{{ user_preferences.masterCategory }}",
            subCategory: "{{ user_preferences.subCategory }}",
            articleType: "{{ user_preferences.articleType }}"
          };
        </script>
        <script type="text/javascript" src="{% static 'js/survey.js' %}"></script> <!-- Load the 'survey.js' script -->
      {% endblock %}